<section class="footer nav-light section-2 section-3">
          <div class="padding-global">
            <div class="container-large">
              <div class="padding-section-medium">
                <div class="margin-top">
                  <div class="main-container">
                    <div class="div-block-12">
                      <div class="footer-quote-block">
                        <div><img loading="lazy"
                            src="assets/6a364d2ee0b618c77b08bd89/6a3a39041152f91b32d36286_Group&#32;5.png" alt=""
                            class="image-16" /></div>
                        <div class="footer-social-icons">
                          <div class="div-block-15"><img width="27" loading="lazy" alt=""
                              src="assets/6a364d2ee0b618c77b08bd89/6a3a391613cf6fd525ce7681_Icon.svg"
                              class="image-17" /></div>
                          <div class="div-block-15"><img width="27" loading="lazy" alt=""
                              src="assets/6a364d2ee0b618c77b08bd89/6a3a39162e322725c89a7710_Icon&#32;(1).svg" /></div>
                          <div class="div-block-15"><img width="27" loading="lazy" alt=""
                              src="assets/6a364d2ee0b618c77b08bd89/6a3a39163c924c12dd673002_Icon&#32;(2).svg" /></div>
                          <div class="div-block-15"><img width="27" loading="lazy" alt=""
                              src="assets/6a364d2ee0b618c77b08bd89/6a3a3916ae6d95b160d2be04_Icon&#32;(3).svg" /></div>
                        </div>
                        <div class="div-block-21">
                          <div class="text-block-21">Specialised women&#x27;s healthcare rooted in compassion,
                            expertise, and a commitment to every woman&#x27;s wellbeing. &quot;<em>For Every Woman,
                              Always</em>.&quot;</div>
                        </div>
                      </div>
                      <div class="columns-8 w-row">
                        <div class="footer-services-links w-col w-col-6">
                          <div class="div-block-16">
                            <div class="text-block-22">Services</div>
                            <div class="text-block-23"><a href="services/adolescent-health-care.html" class="link-10">Adolescent Health Care</a></div>
                            <div class="text-block-24"><a href="services/pre-pregnancy-care.html" class="link-10">Pre-Pregnancy Care</a></div>
                            <div class="text-block-24"><a href="services/obstetrics-maternity-care.html" class="link-10">Obstetrics &amp; Maternity Care</a></div>
                            <div class="text-block-24"><a href="services/pcos-hormonal-health.html" class="link-10">PCOS (PMOS) &amp; Hormonal Health</a></div>
                            <div class="text-block-24"><a href="services/menopause-care.html" class="link-10">Menopause Care</a></div>
                            <div class="text-block-24"><a href="services/gynecology-care.html" class="link-10">Gynaecology Care</a></div>
                            <div class="text-block-24"><a href="services/laparoscopy.html" class="link-10">Laparoscopy &amp; Minimally Invasive Surgery</a></div>
                          </div>
                        </div>
                        <div class="footer-quick-links w-col w-col-6">
                          <div class="div-block-16">
                            <div class="text-block-22">Quick Links</div>
                            <div class="text-block-23"><a href="about-us.html" class="link-9">About Us</a></div>
                            <div class="text-block-24"><a href="services/adolescent-health-care.html"
                                class="link-10">Our Services</a></div>
                            <div class="text-block-25"><a href="blogs.html" class="link-11">Blogs </a></div>
                            <div class="text-block-26"><a href="contact-us.html" class="link-12">Contact Us</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-block-17">
                      <div class="columns-15 w-row">
                        <div class="column-23 w-col w-col-4">
                          <div class="columns-12 w-row">
                            <div class="w-col w-col-2"><img alt=""
                                src="assets/6a364d2ee0b618c77b08bd89/6a4f29b5fd0ff91405f923e0_Container&#32;(3).png"
                                loading="lazy" class="image-14" /></div>
                            <div class="column-24 w-col w-col-10">
                              <div class="text-block-17 green-text">Call Us</div>
                              <div class="text-block-18 green-text"><a href="tel:+919171110333" class="green-text">+91
                                  91711 10333</a></div>
                            </div>
                          </div>
                        </div>


                        <div class="column-31 w-col w-col-4">
                          <div class="columns-13 w-row">
                            <div class="w-col w-col-2"><img loading="lazy"
                                src="assets/6a364d2ee0b618c77b08bd89/6a4f29b5fd0ff91405f923d7_Container&#32;(1).png"
                                alt="" class="image-14" /></div>
                            <div class="w-col w-col-10">
                              <div class="text-block-17 green-text">Email Us</div>
                              <div class="text-block-18 green-text"><a
                                  href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=drjuishah@arihahealthcare.com"
                                  target="_blank" rel="noopener"
                                  class="green-text">drjuishah@arihahealthcare.com</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="column-32 w-col w-col-4">
                          <div class="columns-14 w-row">
                            <div class="w-col w-col-2"><img loading="lazy" alt=""
                                src="assets/6a364d2ee0b618c77b08bd89/6a4f29b5fd0ff91405f923db_Container&#32;(2).png"
                                class="image-14" /></div>
                            <div class="w-col w-col-10">
                              <div class="text-block-17 green-text">Find Us</div>
                              <div class="text-block-18 green-text">Navi Mumbai, Maharashtra</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-block-18">
                      <div class="columns-18 w-row">
                        <div class="w-col w-col-6">
                          <div class="footer-bottom-text">© 2025 Ariha Healthcare. All rights reserved.</div>
                        </div>
                        <div class="column-25 w-col w-col-2">
                          <div class="footer-bottom-text">Privacy Policy</div>
                        </div>
                        <div class="column-26 w-col w-col-2">
                          <div class="footer-bottom-text">Terms of Service</div>
                        </div>
                        <div class="column-27 w-col w-col-2">
                          <div class="footer-bottom-text">Cookie Policy</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
